@charset "UTF-8";

.header-logo{
    height: 100%;
    width: auto;
}
header{
    height: 80px;
    width: 200px;
    margin: auto;
}
.link-contents{
    width: 300px;
    height: auto;
    margin: 8px auto;
    text-align: center;
}

.link-txt{
    width: fit-content;
    height: fit-content;
    font-size: 12px; 
    font-weight: bold;
}

footer{
    width: fit-content;
    margin: auto;
}

/* 初期状態 */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* 表示状態 */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* body フェードイン（全体） */
body {
  opacity: 0;
  transition: opacity 1s ease;
}
body.loaded {
  opacity: 1;
}

p{
  font-size: 10px;
}
.syosyo-info{
  width: 300px;
  height: auto;
  margin: 0 auto;
}